# Environment variables for local development
DATABASE_URL=postgresql://postgres.lasxdvvvbiwmfnadymhj:BuilderPro2026@aws-1-us-east-1.pooler.supabase.com:6543/postgres
# Supabase connection strings that start with postgres:// are also supported.
SUPABASE_URL=https://lasxdvvvbiwmfnadymhj.supabase.co/
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxhc3hkdnZ2Yml3bWZuYWR5bWhqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3MDcxMzAsImV4cCI6MjA4NzI4MzEzMH0.ksQqiutA2-vgbBo00ZGIRLZ6qRTjG3w3E49ujPfffiw
SECRET_KEY=your-secret-key-change-in-production
